server:
  port: 8090

spring:
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    event:
      driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: jdbc:mysql://localhost:3306/eventdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      username: shopuser
      password: shop123
    shop:
      driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: jdbc:mysql://localhost:3306/shopdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      username: shopuser
      password: shop123
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: event-point-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringSerializer
      value-deserializer: org.apache.kafka.common.serialization.StringSerializer
      properties:
        enable.auto.commit: false
        max.poll.records: 10

feature:
  point-consumer:
    enabled: true
